export(SignifReg)
export(add1summary)
export(drop1summary)
export(add1SignifReg)
export(drop1SignifReg)
S3method(SignifReg, default)
S3method(add1summary, default)
S3method(drop1summary, default)
S3method(add1SignifReg, default)
S3method(drop1SignifReg, default)
importFrom("stats", "AIC", "BIC", "drop1", "lm", "deviance", "update", "variable.names", "coef", "coefficients", "lm.influence", "model.matrix", "residuals", "factor.scope", "formula", "p.adjust", "terms", "update.formula")
importFrom("car", "vif")